<ion-view title="Match Scouting" id="page6">
  <ion-content padding="true" class="has-header">
    <h1 id="matchScouting-heading1" style="color:#000000;text-align:center;">Autonomus </h1>
    <form id="matchScouting-form5" class="list">
      <label class="item item-select" id="matchScouting-select20">
        <span class="input-label">Did they git a gear?</span>
        <select>
          <option>Yes</option>
          <option>No</option>
        </select>
      </label>
      <label class="item item-select" id="matchScouting-select21">
        <span class="input-label">Did they cross the line</span>
        <select>
          <option>yes</option>
          <option>no</option>
        </select>
      </label>
      <label class="item item-select" id="matchScouting-select22">
        <span class="input-label">Did they score in the high boiler</span>
        <select>
          <option>Yes</option>
          <option>No</option>
        </select>
      </label>
      <label class="item item-select" id="matchScouting-select23">
        <span class="input-label">Did the score in the low boiler</span>
        <select>
          <option>yes</option>
          <option>no</option>
        </select>
      </label>
      <label class="item item-select" id="matchScouting-select26">
        <span class="input-label">Did they activat a hopper</span>
        <select>
          <option>Yes</option>
          <option>No</option>
        </select>
      </label>
      <label class="item item-select" id="matchScouting-select25">
        <span class="input-label">Do they have an autonomus</span>
        <select>
          <option>yes</option>
          <option>no</option>
        </select>
      </label>
      <label class="item item-select" id="matchScouting-select27">
        <span class="input-label">What did they start off with</span>
        <select>
          <option>gear</option>
          <option>fuel</option>
          <option>both</option>
        </select>
      </label>
      <label class="item item-select" id="matchScouting-select28">
        <span class="input-label">What was thier starting position</span>
        <select>
          <option>Left position</option>
          <option>Middle position</option>
          <option>Right position</option>
        </select>
      </label>
      <label class="item item-input" id="matchScouting-input3">
        <span class="input-label">How many penalties did they get in Autonomous?</span>
        <input type="number" placeholder="">
      </label>
      <label class="item item-input" id="matchScouting-input8">
        <span class="input-label">How many tech fouls did they git in Autonomus?</span>
        <input type="number" placeholder="">
      </label>
      <label class="item item-select" id="matchScouting-select29">
        <span class="input-label">Did they git a yellow card?</span>
        <select>
          <option>Yes</option>
          <option>No</option>
        </select>
      </label>
      <label class="item item-select" id="matchScouting-select30">
        <span class="input-label">Did they git a red card</span>
        <select>
          <option>yes</option>
          <option>no</option>
        </select>
      </label>
    </form>
    <h1 id="matchScouting-heading2" style="color:#000000;text-align:center;">Teleop</h1>
    <form id="matchScouting-form7" class="list">
      <label class="item item-input" id="matchScouting-input9">
        <span class="input-label">How many gears did they get</span>
        <input type="number" placeholder="">
      </label>
      <label class="item item-input" id="matchScouting-input10">
        <span class="input-label">How many attempts did they do on the high goal? </span>
        <input type="number" placeholder="">
      </label>
      <label class="item item-input" id="matchScouting-input11">
        <span class="input-label">How many times did they score in the high goal?</span>
        <input type="number" placeholder="">
      </label>
      <label class="item item-input" id="matchScouting-input12">
        <span class="input-label">How many attempts did they do on the low goal? </span>
        <input type="number" placeholder="">
      </label>
      <label class="item item-input" id="matchScouting-input13">
        <span class="input-label">How many times did they score in the low goal?</span>
        <input type="number" placeholder="">
      </label>
      <label class="item item-select" id="matchScouting-select31">
        <span class="input-label">Did they get a tech foul?</span>
        <select>
          <option>Yes</option>
          <option>No</option>
        </select>
      </label>
      <label class="item item-select" id="matchScouting-select32">
        <span class="input-label">Did they get a yellow card?</span>
        <select>
          <option>Yes</option>
          <option>No</option>
        </select>
      </label>
      <label class="item item-select" id="matchScouting-select33">
        <span class="input-label">Did they get a red card</span>
        <select>
          <option>Yes</option>
          <option>No</option>
        </select>
      </label>
      <label class="item item-select" id="matchScouting-select34">
        <span class="input-label">Did they play defene?</span>
        <select>
          <option>Yes</option>
          <option>No</option>
        </select>
      </label>
      <h1 id="matchScouting-heading3" style="color:#000000;text-align:center;">Post-Game</h1>
      <label class="item item-select" id="matchScouting-select35">
        <span class="input-label">How was their manuverability?</span>
        <select>
          <option>Low</option>
          <option>Medium</option>
          <option>High</option>
        </select>
      </label>
      <label class="item item-select" id="matchScouting-select36">
        <span class="input-label">How well did they get fuel from the hoppers?</span>
        <select>
          <option>Well</option>
          <option>poorly</option>
          <option>none</option>
        </select>
      </label>
      <label class="item item-select" id="matchScouting-select37">
        <span class="input-label">How well did they get fuel from the floor</span>
        <select>
          <option>Well</option>
          <option>Poorly</option>
          <option>None</option>
        </select>
      </label>
      <label class="item item-select" id="matchScouting-select38">
        <span class="input-label">How well did they get fuel from the feeder?</span>
        <select>
          <option>Well</option>
          <option>Poorly</option>
          <option>none</option>
        </select>
      </label>
      <label class="item item-select" id="matchScouting-select39">
        <span class="input-label">How well did they get gear from the floor</span>
        <select>
          <option>Well</option>
          <option>Poorly</option>
          <option>None</option>
        </select>
      </label>
      <label class="item item-select" id="matchScouting-select40">
        <span class="input-label">How well did they get gears from the feeders?</span>
        <select>
          <option>Well</option>
          <option>Poorly</option>
          <option>None</option>
        </select>
      </label>
      <label class="item item-select" id="matchScouting-select41">
        <span class="input-label">What was their high goal successfulness?</span>
        <select>
          <option>Well</option>
          <option>Poorly</option>
          <option>None</option>
        </select>
      </label>
      <label class="item item-select" id="matchScouting-select42">
        <span class="input-label">What was their low goal successfulness?</span>
        <select>
          <option>Well</option>
          <option>Poorly</option>
          <option>None</option>
        </select>
      </label>
      <label class="item item-select" id="matchScouting-select43">
        <span class="input-label">What was their gear successfulness?</span>
        <select>
          <option>Well</option>
          <option>Poorly</option>
          <option>None</option>
        </select>
      </label>
      <label class="item item-select" id="matchScouting-select44">
        <span class="input-label">Did they attempt to scale?</span>
        <select>
          <option>Yes</option>
          <option>No</option>
        </select>
      </label>
      <label class="item item-select" id="matchScouting-select45">
        <span class="input-label">Did they sucessfully scale?</span>
        <select></select>
      </label>
      <ion-checkbox id="matchScouting-checkbox8">Grabbed rope</ion-checkbox>
      <ion-checkbox id="matchScouting-checkbox9">partially scaled</ion-checkbox>
      <ion-checkbox id="matchScouting-checkbox10">scaled but didn't stay aloft</ion-checkbox>
      <ion-checkbox id="matchScouting-checkbox11">scaled successfully</ion-checkbox>
      <ion-checkbox id="matchScouting-checkbox12">Other</ion-checkbox>
      <label class="item item-select" id="matchScouting-select46">
        <span class="input-label">Is your robot broken?</span>
        <select>
          <option>Yes</option>
          <option>No</option>
        </select>
      </label>
      <label class="item item-input" id="matchScouting-textarea12">
        <span class="input-label">Notes</span><textarea placeholder=""></textarea></label>
      <label class="item item-input" id="matchScouting-input14">
        <span class="input-label">Impact of penalty on match</span>
        <input type="number" placeholder="">
      </label>
      <label class="item item-input" id="matchScouting-input15">
        <span class="input-label">Impact of tech fouls on match</span>
        <input type="number" placeholder="">
      </label>
      <label class="item item-select" id="matchScouting-select47">
        <span class="input-label">How accurately can they shoot?</span>
        <select>
          <option>Very well</option>
          <option>Well</option>
          <option>Poorly</option>
        </select>
      </label>
      <label class="item item-select" id="matchScouting-select48">
        <span class="input-label">Did the airship launch?</span>
        <select>
          <option>Yes</option>
          <option>No</option>
        </select>
      </label>
      <label class="item item-input" id="matchScouting-input16">
        <span class="input-label">How many ranking points did they get?</span>
        <input type="number" placeholder="">
      </label>
      <label class="item item-select" id="matchScouting-select49">
        <span class="input-label">How well did they score points?</span>
        <select>
          <option>Very well</option>
          <option>Well</option>
          <option>Poorly</option>
        </select>
      </label>
    </form>
  </ion-content>
</ion-view>